@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Boogaloo&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap");

@layer base {
  :root {

    --background: 0 0% 100%;
    --foreground: 0 0% 3.9%;

    --card: 0 0% 100%;
    --card-foreground: 0 0% 3.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 0 0% 3.9%;

    --primary: 174 96% 33%;
    --primary-foreground: 0 0% 98%;

    --secondary: 220 41% 25%;
    --secondary-foreground: 0 0% 98%;

    --muted: 0 0% 96.1%;
    --muted-foreground: 0 0% 45.1%;

    --accent: 0 0% 96.1%;
    --accent-foreground: 0 0% 9%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;

    --border: 0 0% 89.8%;
    --input: 0 0% 89.8%;
    --ring: 0 0% 3.9%;

    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;

    --radius: 0.35rem;

    --svg-gray-1: 210 8% 30%;
    --svg-gray-2: 209 11% 57%;
    --svg-gray-3: 209 25% 76%;
    --svg-blue-1: 208 56% 66%;
    --svg-blue-2: 209 29% 25%;
    --svg-gray: 0 0% 3.9%;
    --svg-skin: 0 47% 84%;
  }

  .dark {

    --background: 0 0% 3.9%;
    --foreground: 0 0% 98%;

    --card: 0 0% 3.9%;
    --card-foreground: 0 0% 98%;

    --popover: 0 0% 3.9%;
    --popover-foreground: 0 0% 98%;

    --primary: 169 96% 38%;
    --primary-foreground: 0 0% 3.9%;

    --secondary: 208 68% 27%;
    --secondary-foreground: 0 0% 98%;

    --muted: 0 0% 14.9%;
    --muted-foreground: 0 0% 63.9%;

    --accent: 0 0% 14.9%;
    --accent-foreground: 0 0% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;

    --border: 0 0% 14.9%;
    --input: 0 0% 14.9%;
    --ring: 0 0% 83.1%;

    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;

    --radius: 0.35rem;

    --svg-gray-1: 210 8% 30%;
    --svg-gray-2: 209 11% 57%;
    --svg-gray-3: 209 25% 76%;
    --svg-blue-1: 208 56% 66%;
    --svg-blue-2: 209 29% 25%;
    --svg-gray: 0 0% 10%;
    --svg-skin: 0 47% 84%;
  }
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }

  body {
    @apply bg-background text-foreground;
  }
}

* {
  box-sizing: border-box;
}

html,
body {
  height: auto;
  min-height: 100svh;
  width: 100%;
}

/* * {
  background-color: rgba(154, 171, 248, 0.226);
  border: 1px solid rgba(154, 171, 248, 0.226);
} */

/* Color Theme Swatches in Hex */
.MOBILE-EXXON-1-hex {
  color: #253659;
}

.MOBILE-EXXON-2-hex {
  color: #03A696;
}

.MOBILE-EXXON-3-hex {
  color: #04BF9D;
}

.MOBILE-EXXON-4-hex {
  color: #F27457;
}

.MOBILE-EXXON-5-hex {
  color: #BF665E;
}

/* Color Theme Swatches in RGBA */
.MOBILE-EXXON-1-rgba {
  color: rgba(36, 54, 89, 1);
}

.MOBILE-EXXON-2-rgba {
  color: rgba(3, 165, 149, 1);
}

.MOBILE-EXXON-3-rgba {
  color: rgba(3, 191, 156, 1);
}

.MOBILE-EXXON-4-rgba {
  color: rgba(242, 115, 87, 1);
}

.MOBILE-EXXON-5-rgba {
  color: rgba(191, 101, 93, 1);
}

/* Color Theme Swatches in HSLA */
.MOBILE-EXXON-1-hsla {
  color: hsla(219, 41, 24, 1);
}

.MOBILE-EXXON-2-hsla {
  color: hsla(174, 96, 33, 1);
}

.MOBILE-EXXON-3-hsla {
  color: hsla(168, 96, 38, 1);
}

.MOBILE-EXXON-4-hsla {
  color: hsla(11, 85, 64, 1);
}

.MOBILE-EXXON-5-hsla {
  color: hsla(5, 43, 55, 1);
}